#bnav{background: yellow; color: white; text-align: center; border-radius: 15px; padding: 0px;margin: 0px 0px 0px 0px ;height: 32px;width: 20%; }
#wdj{background: red; color: white;padding: 0px; margin: 0px 0px 0px 0px ; border-radius: 15px;}
/*acceuil*/
#lacceuil{background: yellow; color: black;padding: 0px; margin: 10px 10px 10px 10px ; }
/*help*/
#lhelp{background: yellow; color: black;padding: 0px; margin: 10px 10px 10px 10px ; }
/*cfg*/
#lcfg{background: yellow; color: black;padding: 0px; margin: 10px 10px 10px 10px ; }
/*register*/
#wilayar,#structurer,#loginr,#passwordr,#submitr{border: 3px solid #73AD21;border-radius: 15px;text-align: center; font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 32px;width: 170px;display: inline;}
#wilayar,#structurer{background-color: #E0FFFF;}
#loginr,#passwordr{ background-color: yellow;}
#submitr{background: yellow;}
#submitr:hover {background: red;color: #fff;}
#errorregister{background: red; color: #fff;padding: 0px; margin: 10px 10px 10px 10px ; }
#lregister{background: yellow; color: black;padding: 0px; margin: 10px 10px 10px 10px ; }
/*login*/
#loginl,#passwordl,#submitl{border: 3px solid #73AD21;border-radius: 15px;text-align: center; font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 32px;width: 170px;display: inline;}
#wilayal,#structurel{background-color: #E0FFFF;}
#loginl,#passwordl{ background-color: yellow;}
#submitl{background: yellow;}
#submitl:hover {background: red;color: #fff;}
#errorlogin{background: red; color: #fff;padding: 0px; margin: 10px 10px 10px 10px ; }
#llogin{background: yellow; color: black;padding: 0px; margin: 10px 10px 10px 10px ; }
/*setup*/
#lsetup{background: yellow; color: black;padding: 0px; margin: 10px 10px 10px 10px ; }
#submits{border: 3px solid #73AD21;border-radius: 15px;text-align: center; font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 32px;width: 170px;display: inline;}
#submits{background: yellow;}
#submits:hover {background: red;color: #fff;}
#Cancel {border: 3px solid #73AD21;border-radius: 15px;text-align: center; font-size: 19px; width: 170px; display: inline;}
#Cancel{background: yellow;}
#Cancel:hover {background: red;color: #fff;}
.info{font-family: Verdana, Arial, Helvetica, sans-serif;  background-color: #FFE4E1; font-size:  14px;}
table { width: 100%;border: 1px solid black;height: 90px;}
th { background-color: #87CEFA;color: white;}
th,td {height: 2px;border: 1px solid black;padding: 5px;font: 14px 'trebuchet ms', arial, sans-serif; }
hr{height: 5px;width: 50%;background-color: red;}
/*evaluation*/
#dateus,#dateus1{background: yellow;border-radius: 15px;text-align: center;}
#type1,#type2{border: 3px solid #73AD21;border-radius: 15px;text-align: center; font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 35px;width: 210px;display: inline;}
#typea{border: 3px solid #73AD21;border-radius: 15px;text-align: center; font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 35px;width: 210px;display: inline;}


/*search*/
#search{background: green ; color: #fff; border: 3px solid #73AD21;border-radius: 15px;text-align: center; font-size: 15px;font-weight: bold;}
#csearch{border: 3px solid #73AD21;border-radius: 15px;text-align: center; font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 32px;width: 170px;display: inline;}
#csearch{background-color: #E0FFFF;}
#submitsrh{border: 3px solid #73AD21;border-radius: 15px;text-align: center; font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 32px;width: 170px;display: inline;}
#submitsrh{background: yellow;}
#Cleari{ border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;text-align: center;font-size: 15px;font-weight: bold;height: 80%;width: 40%;}
#Cleari:hover,#Clearm:hover{ background-color: red; color: white; text-decoration: underline; cursor: pointer;}
/*list database*/
#nomprenom{width: 40%;}
.crtl{ width: 40px;text-align: center;}
.crtldate{ width: 20px;text-align: center;}
#bdn{ background-color: #87CEFA;color: white; text-align: center;}
#btdn{background-color: #87CEFA;color: white; text-align: center;}
#buttoni,#buttons{width: 15%;height: 35px;border-radius: 15px;background-color: red; color: white;font-weight: bold;text-align: center;}
/*bouton footer*/
.scontentl2 a,.scontentl3 a {color: #fff;background: green;padding: 10px;text-decoration: none;font-size: 15px;font-weight: bolder;border-radius: 5px;}
.scontentl2 a:hover,.scontentl3 a:hover {background: red}
/*evaluation*/
#evaluation{background: yellow; color: black;padding: 0px; margin: 10px 10px 10px 10px ; }
/*dashboard*/
#dashboard{background: yellow; color: black;padding: 0px; margin: 10px 10px 10px 10px ; }
/*nouveau*/
#lnouveau{background: yellow; color: black;padding: 0px; margin: 10px 10px 10px 10px ; }

:root{
--label0:lightblue;
--label1:#E0FFFF;--edit1:yellow;
--label2:#FFDAB9;--edit2:lightblue;
--label3:#ADFF2F;--edit3:lightblue;
}

/*avi*/

#avil0bn1{ position:absolute; top:155px;left:30px;  background-color: #FFC0CB;border-radius: 5px;text-align: left;font-size: 15px;height: 25px;width: 200px;display: inline;}
#avil0bn2{ position:absolute; top:185px;left:30px;  background-color: #FFC0CB;border-radius: 5px;text-align: left;font-size: 15px;height: 25px;width: 200px;display: inline;}
#avil0bn3{ position:absolute; top:215px;left:30px;  background-color: #FFC0CB;border-radius: 5px;text-align: left;font-size: 15px;height: 25px;width: 200px;display: inline;}
#avil0bn4{ position:absolute; top:245px;left:30px;  background-color: #FFC0CB;border-radius: 5px;text-align: left;font-size: 15px;height: 25px;width: 200px;display: inline;}
#avil0bn6{ position:absolute; top:275px;left:30px;  background-color: #FFC0CB;border-radius: 5px;text-align: left;font-size: 15px;height: 25px;width: 200px;display: inline;}
#avil0bn5{ position:absolute; top:305px;left:30px;  background-color: #FFC0CB;border-radius: 5px;text-align: left;font-size: 15px;height: 25px;width: 200px;display: inline;}
#avil0bn7{ position:absolute; top:335px;left:30px;  background-color: #FFC0CB;border-radius: 5px;text-align: left;font-size: 15px;height: 25px;width: 200px;display: inline;}

#lcode_patient{ position:absolute; top:365px;left:30px;  background-color: #FFC0CB;border-radius: 5px;text-align: left;font-size: 15px;height: 25px;width:  200px;display: inline;}
#lcode_patient1{ position:absolute; top:395px;left:30px;  background-color: #FFC0CB;border-radius: 5px;text-align: left;font-size: 15px;height: 25px;width: 200px;display: inline;}
#lcode_patient2{ position:absolute; top:425px;left:30px;  background-color: #FFC0CB;border-radius: 5px;text-align: left;font-size: 15px;height: 25px;width: 200px;display: inline;}
#lcode_patient3{ position:absolute; top:455px;left:30px;  background-color: #FFC0CB;border-radius: 5px;text-align: left;font-size: 15px;height: 25px;width: 200px;display: inline;}
#lcode_patient4{ position:absolute; top:485px;left:30px;  background-color: #FFC0CB;border-radius: 5px;text-align: left;font-size: 15px;height: 25px;width: 200px;display: inline;}
#lcode_patient5{ position:absolute; top:515px;left:30px;  background-color: #FFC0CB;border-radius: 5px;text-align: left;font-size: 15px;height: 25px;width: 200px;display: inline;}
#lcode_patient6{ position:absolute; top:545px;left:30px;  background-color: #FFC0CB;border-radius: 5px;text-align: left;font-size: 15px;height: 25px;width: 200px;display: inline;}
#lcode_patient7{ position:absolute; top:575px;left:30px;  background-color: #FFC0CB;border-radius: 5px;text-align: left;font-size: 15px;height: 25px;width: 200px;display: inline;}
#lcode_patient8{ position:absolute; top:605px;left:30px;  background-color: #FFC0CB;border-radius: 5px;text-align: left;font-size: 15px;height: 25px;width: 200px;display: inline;}

#code_patient{ position:absolute; top:365px;left:235px;   background-color: #FFC0CB;border-radius: 5px;text-align: left;font-size: 15px;height: 25px;width:  140px;display: inline;}
#code_patient1{ position:absolute; top:395px;left:235px;  background-color: #FFC0CB;border-radius: 5px;text-align: left;font-size: 15px;height: 25px;width: 140px;display: inline;}
#code_patient2{ position:absolute; top:425px;left:235px;  background-color: #FFC0CB;border-radius: 5px;text-align: left;font-size: 15px;height: 25px;width: 140px;display: inline;}
#code_patient3{ position:absolute; top:455px;left:235px;  background-color: #FFC0CB;border-radius: 5px;text-align: left;font-size: 15px;height: 25px;width: 140px;display: inline;}
#code_patient4{ position:absolute; top:485px;left:235px;  background-color: #FFC0CB;border-radius: 5px;text-align: left;font-size: 15px;height: 25px;width: 140px;display: inline;}
#code_patient5{ position:absolute; top:515px;left:235px;  background-color: #FFC0CB;border-radius: 5px;text-align: left;font-size: 15px;height: 25px;width: 140px;display: inline;}
#code_patient6{ position:absolute; top:545px;left:235px;  background-color: #FFC0CB;border-radius: 5px;text-align: left;font-size: 15px;height: 25px;width: 140px;display: inline;}
#code_patient7{ position:absolute; top:575px;left:235px;  background-color: #FFC0CB;border-radius: 5px;text-align: left;font-size: 15px;height: 25px;width: 140px;display: inline;}
#code_patient8{ position:absolute; top:605px;left:235px;  background-color: #FFC0CB;border-radius: 5px;text-align: left;font-size: 15px;height: 25px;width: 140px;display: inline;}

#Mortalitel{ position:absolute; top:635px;left:30px;  background-color: #FFC0CB;border-radius: 5px;text-align: left;font-size: 15px;height: 25px;width: 200px;display: inline;}
#Mortalitei{ position:absolute; top:635px;left:235px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 140px;display: inline;}

#avid1{ position:absolute; top:155px;left:235px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 140px;display: inline;}

#avib0n2c{ position:absolute; top:185px;left:235px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 140px;display: inline;}
#avib0n3c{ position:absolute; top:215px;left:235px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 140px;display: inline;}

#avicli{ position:absolute; top:245px;left:235px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 140px;display: inline;}
#avibtm{ position:absolute; top:275px;left:235px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 140px;display: inline;}
#avicycl{ position:absolute; top:305px;left:235px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 140px;display: inline;}
#avisem{ position:absolute; top:335px;left:235px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 140px;display: inline;}

#avibn0{ position:absolute; top:155px;left:460px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn1{ position:absolute; top:185px;left:460px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn2{ position:absolute; top:215px;left:460px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn3{ position:absolute; top:245px;left:460px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn4{ position:absolute; top:275px;left:460px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn5{ position:absolute; top:305px;left:460px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn6{ position:absolute; top:335px;left:460px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn7{ position:absolute; top:365px;left:460px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn8{ position:absolute; top:395px;left:460px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn9{ position:absolute; top:425px;left:460px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn10{ position:absolute; top:455px;left:460px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn11{ position:absolute; top:485px;left:460px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn12{ position:absolute; top:515px;left:460px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn13{ position:absolute; top:545px;left:460px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn14{ position:absolute; top:575px;left:460px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn15{ position:absolute; top:605px;left:460px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn16{ position:absolute; top:635px;left:460px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn17{ position:absolute; top:665px;left:460px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn18{ position:absolute; top:695px;left:460px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn19{ position:absolute; top:725px;left:460px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn20{ position:absolute; top:725px;left:460px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}

#avibn20{ position:absolute; top:155px;left:540px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn21{ position:absolute; top:185px;left:540px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn22{ position:absolute; top:215px;left:540px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn23{ position:absolute; top:245px;left:540px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn24{ position:absolute; top:275px;left:540px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn25{ position:absolute; top:305px;left:540px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn26{ position:absolute; top:335px;left:540px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn27{ position:absolute; top:365px;left:540px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn28{ position:absolute; top:395px;left:540px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn29{ position:absolute; top:425px;left:540px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn30{ position:absolute; top:455px;left:540px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn31{ position:absolute; top:485px;left:540px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn32{ position:absolute; top:515px;left:540px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn33{ position:absolute; top:545px;left:540px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn34{ position:absolute; top:575px;left:540px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn35{ position:absolute; top:605px;left:540px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn36{ position:absolute; top:635px;left:540px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn37{ position:absolute; top:665px;left:540px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn38{ position:absolute; top:695px;left:540px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn39{ position:absolute; top:725px;left:540px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}


#avibn40{ position:absolute; top:155px;left:620px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn41{ position:absolute; top:185px;left:620px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn42{ position:absolute; top:215px;left:620px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn43{ position:absolute; top:245px;left:620px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn44{ position:absolute; top:275px;left:620px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn45{ position:absolute; top:305px;left:620px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn46{ position:absolute; top:335px;left:620px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn47{ position:absolute; top:365px;left:620px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn48{ position:absolute; top:395px;left:620px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn49{ position:absolute; top:425px;left:620px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn50{ position:absolute; top:455px;left:620px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn51{ position:absolute; top:485px;left:620px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn52{ position:absolute; top:515px;left:620px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn53{ position:absolute; top:545px;left:620px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn54{ position:absolute; top:575px;left:620px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn55{ position:absolute; top:605px;left:620px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn56{ position:absolute; top:635px;left:620px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn57{ position:absolute; top:665px;left:620px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn58{ position:absolute; top:695px;left:620px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn59{ position:absolute; top:725px;left:620px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}

#avibn60{ position:absolute; top:155px;left:700px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn61{ position:absolute; top:185px;left:700px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn62{ position:absolute; top:215px;left:700px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn63{ position:absolute; top:245px;left:700px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn64{ position:absolute; top:275px;left:700px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn65{ position:absolute; top:305px;left:700px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn66{ position:absolute; top:335px;left:700px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn67{ position:absolute; top:365px;left:700px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn68{ position:absolute; top:395px;left:700px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn69{ position:absolute; top:425px;left:700px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn70{ position:absolute; top:455px;left:700px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn71{ position:absolute; top:485px;left:700px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn72{ position:absolute; top:515px;left:700px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn73{ position:absolute; top:545px;left:700px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn74{ position:absolute; top:575px;left:700px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn75{ position:absolute; top:605px;left:700px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn76{ position:absolute; top:635px;left:700px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn77{ position:absolute; top:665px;left:700px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn78{ position:absolute; top:695px;left:700px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn79{ position:absolute; top:725px;left:700px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}

#avibn80{ position:absolute; top:155px;left:780px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn81{ position:absolute; top:185px;left:780px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn82{ position:absolute; top:215px;left:780px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn83{ position:absolute; top:245px;left:780px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn84{ position:absolute; top:275px;left:780px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn85{ position:absolute; top:305px;left:780px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn86{ position:absolute; top:335px;left:780px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn87{ position:absolute; top:365px;left:780px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn88{ position:absolute; top:395px;left:780px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn89{ position:absolute; top:425px;left:780px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn90{ position:absolute; top:455px;left:780px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn91{ position:absolute; top:485px;left:780px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn92{ position:absolute; top:515px;left:780px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn93{ position:absolute; top:545px;left:780px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn94{ position:absolute; top:575px;left:780px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn95{ position:absolute; top:605px;left:780px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn96{ position:absolute; top:635px;left:780px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn97{ position:absolute; top:665px;left:780px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn98{ position:absolute; top:695px;left:780px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}
#avibn99{ position:absolute; top:725px;left:780px;  border: 3px solid #73AD21;background-color: yellow;border-radius: 15px;margin-top: 0px;text-align: center;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 25px;width: 70px;display: inline;}

#submitavi{position:absolute; top:700px;left:70px;text-align: center ;margin-top: 0px;border-radius: 15px; background: yellow;border: 3px solid #73AD21;font-size: 15px;font-weight: bold;margin-bottom: 20px;height: 52px;width: 285px;}
#submitavi:hover {background: red;color: #fff;}

/*login register#AEE4FF;*/
.formaut{
background:#FFFFE0;
}
.form-style-10{
	max-width:450px;
	padding:10px;
	margin: 35px auto;
	background: #AEE4FF;
	border-radius: 10px;
	-webkit-border-radius:10px;
	-moz-border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}
.form-style-10 .inner-wrap{
	padding: 0px;
	background: #F8F8F8;text-align: center;
	border-radius: 6px;
	margin: auto;
}
.form-style-10 h1{
	background: #2A88AD;
	padding: 20px 30px 15px 30px;
	margin: -30px -30px 30px -30px;
	border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: normal 30px 'Bitter', serif;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid #257C9E;
}
.form-style-10 h1 > span{
	display: block;
	margin-top: 2px;
	font: 13px Arial, Helvetica, sans-serif;
}
.form-style-10 label{
	display: block;
	font: 13px Arial, Helvetica, sans-serif;
	color: #888;
	margin-bottom: 15px;
}
.form-style-10 input[type="text"],
.form-style-10 input[type="date"],
.form-style-10 input[type="datetime"],
.form-style-10 input[type="email"],
.form-style-10 input[type="number"],
.form-style-10 input[type="search"],
.form-style-10 input[type="time"],
.form-style-10 input[type="url"],
.form-style-10 input[type="password"],
.form-style-10 textarea,
.form-style-10 select {
	display: block;
	background-color: yellow;font-size: 19px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 0px;
	border-radius: 6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border: 2px solid #fff;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}

.form-style-10 .section{
	font: normal 20px 'Bitter', serif;
	color: #2A88AD;
	margin-bottom: 5px;
}
.form-style-10 .section span {
	background: #2A88AD;
	padding: 5px 10px 5px 10px;
	position: absolute;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border: 4px solid #fff;
	font-size: 14px;
	margin-left: -33px;
	color: #fff;
	margin-top: -6px;
}
.form-style-10 input[type="button"], 
.form-style-10 input[type="submit"]{
	background: #2A88AD;
	padding: 8px 20px 8px 20px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: normal 30px 'Bitter', serif;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid #257C9E;
	font-size: 15px;
}
.form-style-10 input[type="button"]:hover, 
.form-style-10 input[type="submit"]:hover{
	background: #2A6881;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}
.form-style-10 .privacy-policy{
	float: right;
	width: 250px;
	font: 13px Arial, Helvetica, sans-serif;
	color: #4D4D4D;
	margin-top: 10px;
	text-align: right;
}

/*login register fin*/

/* popup --------------------------*/

#popup_upload {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0 ,0, 0.7);
	z-index: 99;
	text-align: center;
	display: none;
	overflow: auto;
}


.form_upload {
	width: 400px;
	height: 240px;
	border: 1px solid #999999;
	border-radius: 10px;
	background: #ffffff;
	color: #666666;
	margin: auto;
	margin-top: 160px;
	padding: 10px;
	text-align: left;
	position: relative;
}
.form_upload h2 {
	border-bottom: 1px solid #999999;
	padding: 0 0 5px 0;
	margin: 0 0 20px 0;
}
.file_input {
	width: 97%;
	background: #eaeaea;
	border: 1px solid #999999;
	border-radius: 5px;
	color: #333333;
	padding: 1%;
	margin: 0 0 20px 0;
}
#upload_btn {
	background: #cccccc;
	color: #333333;
	border: 1px solid #999999;
	border-radius: 10px;
	float: right;
	line-height: 20px;
	font-size: 14px;
	font-weight: bold;
	font-family: arial;
	display: block;
	padding: 5px;
	cursor: pointer;
}
#upload_btn:hover {
	background: #eaeaea;
}
.close {
    position: absolute;
    display: block;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    line-height: 16px;
    width: 18px;
    height: 18px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background: #F0F0F0;
    text-align: center;
    font-weight: bold;
}
.close:hover {
    background: #cccccc;
}


.import {
	display: inline-block;
	background: url('../images/import.png') no-repeat left;
	background-size: auto 100%;
	line-height: 20px;
	padding-left: 25px;
	color: #666666;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	margin-right: 20px;
	cursor: pointer;
}
.export {
	display: inline-block;
	background: url('../images/export.png') no-repeat left;
	background-size: auto 100%;
	line-height: 20px;
	padding-left: 25px;
	color: #666666;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}
.import:hover, .export:hover {
	text-decoration: underline;
	color: #333333;
}
.field_container {
	padding: 10px;
	margin: 0 0 10px 0;
	border: 1px solid #cccccc;
	border-radius: 10px;
}
.field_container legend {
	padding: 0 5px 0 5px;
	font-size: 14px;
	font-weight: bold;
}

/* popup ---fin-----------------------*/

